<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonopolyZapped">

        <!-- SplashActivity devient le point d'entrée -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.MonopolyZapped">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainMenuActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.PlayersSelectActivity"
            android:exported="false"
            android:screenOrientation="landscape" />


        <activity
            android:name=".ui.PlayerSetupActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity android:name=".ui.PlayerCardIntroActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.PlayerCardScanActivity"  android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.GamePrepDealActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.FinalInstructionActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.PlayerChooseSideActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.GameMainMenuActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.PlayerMenuActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.PlayerMenuPropertiesActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.PlayerMenuPropertiesBuyActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.PlayerPayToBankCardScanActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.PlayerTransactionAnimationActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.PlayerPayRentCardScanActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.PlayerPayRentEnterAmountActivity" android:exported="false" android:screenOrientation="landscape"/>
        <activity android:name=".ui.PlayerReceiveRentCardScanActivity" android:exported="false" android:screenOrientation="landscape"/>


        <!-- MainActivity (ou MainMenuActivity plus tard) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>
</manifest>
